* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
}

.hero-section::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.product-card {
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  background-color: #070606;
}

/* TOP CARD SECTION */

.product-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    url("./Assets/images/grid_bg.png") center/cover no-repeat,
    url("./Assets/images/grid_bg.png") bottom right/140px no-repeat,
    url("add-image.png") top left/140px no-repeat;
  opacity: 0.35;
}

.card-body {
  position: relative;
  z-index: 2;
  height: 100%;
}

.basket-img {
  width: 150px;
  display: block;
  margin: 20px auto 10px;
}

.price {
  font-weight: bold;
}

.add-btn {
  background: #a4532a;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  /* color: #fff; */
}

.info-icon {
  width: 28px;
  height: 28px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 14px;
}

/*  FIRST BANNER SECTION */
#first-banner {
  background:
    linear-gradient(rgba(255, 255, 255, 0.046), rgba(255, 255, 255, 0)),
    url("./Assets/images/first-banner.png") center/cover no-repeat;

  height: 350px;
  width: 100%;
  position: relative;
}
/*  SECOND BANNER SECTION */

#second-banner {
  background:
    linear-gradient(rgba(255, 255, 255, 0.042), rgba(255, 255, 255, 0.031)),
    url("./Assets/images/second-banner.png") center/cover no-repeat;

  height: 350px;
  width: 100%;
  position: relative;
}
/*  FOOTER SECTION */

.footer-section {
  background: url("./Assets/images/footer-bg.png") center/cover no-repeat;
}
